.table{
    display: flex;
    
    flex-wrap: wrap;
    height: 75vh;
    background-color:rgb(200, 200, 200);
}

.form-wrapper{
    background-color: rgb(100, 100, 100);
    color: #FFF;
    padding: 10px;
}

.form-header-wrapper{
    text-align: center
}

.form-item{
    display: flex;
    justify-content: space-around;

}

.desk{
    cursor: pointer;
}

.add-button{
    width: 50%;
    height: 3rem;
    margin: 5px;
    cursor: pointer;
}

.add-button-wrapper{
    text-align: center; 
}

.input-form{
    margin: 5px;
}